<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <nav>
        <div class="task active" id="tokens-btn">Tokenize</div>
        <div class="task" id="stemming-btn">Stemming</div>
        <div class="task" id="pos-btn">POS</div>
        <div class="task" id="ner-btn">NER</div>
        <div class="task" id="embed-btn">Embedding</div>
    </nav>
    <main>
        <div class="input-section" id="input-section">
            <textarea class="text-input" id="text-input" rows="4" placeholder="Enter text to split..."></textarea>
            <br>
            <button id="split-btn">Split Text</button>
        </div>

        <div class="output-section" id="output-section">
            
        </div>
    </main>

    <script src="../static/js/index.js"></script>
</body>
</html>